/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Body Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f79fc4;
  color: black;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin: auto;
}

/* Header Styles */
header {
  color: #f79fc4;
  padding: 10px;
  text-align: center;
  animation: gradientAnimation 25s linear infinite;
  background-size: 100% 1000%;
  background-position: 0% -100%;
  background: linear-gradient(0deg, rgba(247, 159, 196, 1) 0%, rgb(255, 252, 198) 65%);
}

header h1,
header h2 {
  text-shadow: 0 2px rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}


nav li {
  align-items: center;
  display: inline-flex;
  margin-left: 4px;
  margin-right: 4px;
  flex-direction: row;
  box-shadow: 0 10px;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  font-weight: bold;
  /* border-radius: 24px; */
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: gold;
  color: black;
}

.active-link {
  background-color: rgb(186, 251, 208);
  color: black;
}