/* Image Style */
.question img {
    min-height: 360px;
    max-height: 360px;
}

/* Button Styles */
.answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-button {
    background: linear-gradient(-45deg, #FFC400, #f3899b);
}

.dog-button {
    background: linear-gradient(-45deg, #FFC400, #83fae2);
}

.button {
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    /* background-color: rgba(0, 0, 0, 0.25); */
    color: black;
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.button:disabled {
    background: lightgray;
    color: gray;
    cursor: not-allowed;
}

.button:not(:disabled):hover {
    /* background: gold; */
    color: black;
    background-position: 100% 100%;
    transform: scale(1.05);
}